@charset "UTF-8";

body {
  color: #000;
  background-color: #fff;
  font-family: "Droid Serif", YuGothic, "游ゴシック", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #232323;
  width: 100%;
  height: 50px;
}
.top-massege {
  width:100%;
  margin: 0 auto;
  align-items: center;
}

.flex {
  display: flex;
}

.space {
  justify-content: space-between;
}

.top-left {
  color: #fff;
}

.smile {
  
}

.top-right {
  text-decoration: none;
  padding: 5px;
}
.top-right li {
  font-size:16px;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.top-right ul li a {
  text-decoration: none;
  color: #fff;
}
#cover_title {
  font-size: 30px;
  margin: 0 auto;
}

.book-item {
  width: 270px;
  margin: 15px;
  float: left;
  background-color: white;
  border: solid 1px #ddd;
}

.book-item_image-wrapper {
  width: 270px;
  height: 270px;
  padding: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.book-item-image {
  max-height: 250px;
  max-width: 250px;
  vertical-align: middle;
}

.book-item-image:hover {
  cursor: pointer;
}

.message-user-image {
  width:46px;
  height: 46px;
}

.book-title {
  margin:10px auto;
  height: 36px;
  text-align: center;

}

.book-title a {
  text-decoration: none;
}

.main-message {
  font-size: 12px;
}

.user-image {
  display: flex;

}

.message-user-image {
  width: 30px;
  height: 100%;
}

footer {
  display: block;
  background-color: #232323;
  height: 50px;
}

.footer-inner {
  margin: 0 auto;
  width: 100%;
}

.footer-inner p {
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 16px;
}